<?xml version="1.0" encoding="windows-1252"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.xtext.org/idmGH/mlregDsl/MLReg"
			class = "org.xtext.idmGH.mlregDsl.mLReg.MLRegPackage"
			genModel = "model/generated/MLReg.genmodel" />
	</extension>
</plugin>
